.App {
  height: 100vh;
  background-color: #eee;
}
.App .navbar {
  background-color: black;
  color: #fff;
}
.App .navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  gap: 8%;
}
.App .navbar ul h2 {
  font-size: 35px;
  cursor: default;
  transition: 0.3s;
}
.App .navbar ul h2:hover {
  color: crimson;
}
.App .navbar ul li {
  padding: 30px;
}
.App .navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s;
}
.App .navbar ul li a:hover {
  color: crimson;
  position: relative;
  top: 1px;
}
.App .home {
  width: 100%;
  height: 85.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.App .home h2 {
  padding: 0 10%;
}
.App .home .p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 10%;
}
.App .home .p p {
  font-size: 140%;
}
.App .home .p img {
  width: 10%;
  color: #eee;
}
.App footer {
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  gap: 20px;
}
.App footer p {
  font-size: 20px;
}
.App footer a {
  text-decoration: 1.5px underline;
  color: #eee;
  font-size: 20px;
}
.App footer img {
  width: 30px;
}
.App .insertCar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.App .insertCar h2 {
  font-size: 32px;
  margin-top: 12%;
}
.App .insertCar .formulario {
  flex-direction: column;
  width: 20%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 11px 9px 19px 4px rgba(0, 0, 0, 0.62);
}
.App .insertCar .formulario .form-group {
  text-align: justify;
  margin-top: 10px;
}
.App .insertCar .formulario .form-group label {
  font-size: 24px;
}
.App .insertCar .formulario .form-group input {
  display: flex;
  margin-top: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 16px;
  padding: 6px;
}
.App .insertCar .formulario .save-data {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.App .insertCar .formulario .save-data button {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.App .insertCar .formulario .save-data button:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.App .insertCar .formulario .save-data button:active {
  position: relative;
  top: 1px;
}
.App .insertCar .formulario .save-data button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.App .tableCar {
  width: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  margin: 5% 10%;
  padding: 30px;
  border-radius: 5px;
}
.App .tableCar table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
  font-size: 24px;
}
.App .tableCar table thead tr {
  border-bottom: 3px solid #3b3b3b;
}
.App .tableCar table thead tr td {
  padding: 0 10px;
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.App .tableCar table tbody tr {
  border: 3px solid #ccc;
}
.App .tableCar table tbody tr td {
  text-align: left;
  padding: 20px 10px;
  text-transform: capitalize;
}
.App .tableCar table tbody tr td button {
  padding: 5px 10px;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.App .tableCar table tbody tr td button:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.App .tableCar table tbody tr td button:active {
  position: relative;
  top: 1px;
}

/*# sourceMappingURL=styles.css.map */
